# theme = "catppuccin_macchiato"
theme = "base16_transparent"

[editor]
line-number = "absolute"
auto-completion = true
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
